.dualtweets {

  .tweet-box {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .tweet-text-and-user {

    .tweet-text {
      font-size: 28pt;
      line-height: 120%;
      width: 650px;
    }
  }

  a.tweet-user-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: dimgrey;
    font-size: 20pt;
    text-decoration: none;
  }

  a.tweet-user-screen-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: dimgrey;
    font-size: 12pt;
    text-decoration: none;
  }

  .tweet-user-avatar {
    margin-bottom: 5px;

    img {
      vertical-align: top;
    }
  }

}
