
.singletweet {

  margin-top: 120px;
  position: absolute;
  top: 0;

  .tweet-text {
    font-size: 45pt;
    line-height: 120%;
  }

  a.tweet-user-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: dimgrey;
    font-size: 20pt;
    text-decoration: none;
  }

  a.tweet-user-screen-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: dimgrey;
    font-size: 12pt;
    text-decoration: none;
  }

  .tweet-user-avatar {
    margin-bottom: 5px;

    img {
      vertical-align: bottom;
    }
  }

}

.singletweet:last-child .tweet-text {

  margin-top: 80px;

}

