.singletweet {

  position: absolute;
  color: #111;

  .letter {
    position: relative;
    /* @See https://www.google.com/fonts#UsePlace:use/Collection:Quantico */
    text-shadow: 2px 2px 2px rgb(253, 255, 210), -2px -2px 2px rgb(253, 255, 220), 2px -2px 2px rgb(253, 255, 220), -2px 2px 2px rgb(253, 255, 220);
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
  }

  .letter.l8 {
    padding-left: 0;
    padding-right: 0.25em;
    text-shadow: 4px 4px 6px rgb(233, 236, 68), -3px -3px 5px rgb(250, 252, 207), 2px -2px 4px rgb(231, 236, 36), -2px 2px 4px rgb(231, 236, 36);
    font-weight: 700;
  }

  .tweet-time {
    margin-left: 10pt;
    color: silver;
    font-size: 10pt;
    bottom: 0;
  }

  .tweet-text {
    font-size: 58px;
    line-height: 67px;
    width: 960px;
  }

  a.tweet-user-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: silver;
    font-size: 20pt;
    text-decoration: none;
  }

  a.tweet-user-screen-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: silver;
    font-size: 12pt;
    text-decoration: none;
  }

  .tweet-user-avatar {
    margin-bottom: 5px;

    img {
      vertical-align: bottom;
      box-shadow: 2px 2px 2px white, -2px -2px 2px white;
    }
  }
}

#tweetTop {
  top: 120px;
}

#tweetBottom {
  bottom: 90px;
}
