.singletweet {
  div.tweet-box {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  div.tweet-text {
    font-size: 36px;
    width: 70%;
  }

  a.tweet-user {
    font-size: 20px;
  }

  .tweet-user-avatar {
    margin-bottom: 5px;
  }

}
