.tweetlist {
  margin-top: 40px;

  .tweet-box {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    height: 180px;
    padding: 10px 20px;
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  }

  .tweet-box-avatar {
    border: 1px solid #b0b0b0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  .tweet-time {
    font-size: 12px;
    bottom: 0;
    color: #8c8c8c;
  }

  .tweet-text-and-avatar {
    overflow: hidden;
  }

  .tweet-time-and-name {
    overflow: hidden;
  }

  .tweet-text {
    font-size: 22pt;
    line-height: 120%;
    width: 650px;
  }

  .tweet-text-and-user {
    padding-bottom: 20px;
  }

  a.tweet-user-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: dimgrey;
    font-size: 20pt;
    text-decoration: none;
  }

  a.tweet-user-screen-name {
    margin-top: 3pt;
    margin-left: 10pt;

    color: dimgrey;
    font-size: 12pt;
    text-decoration: none;
  }

  .tweet-user-avatar {
    margin-bottom: 5px;

    img {
      vertical-align: top;
    }
  }

  .animate.ng-enter,
  .animate.ng-leave {
    -webkit-transition: 800ms cubic-bezier(0.40, 0, 0.60, 1) all;
    -moz-transition: 800ms cubic-bezier(0.40, 0, 0.60, 1) all;
    -ms-transition: 800ms cubic-bezier(0.40, 0, 0.60, 1) all;
    -o-transition: 800ms cubic-bezier(0.40, 0, 0.60, 1) all;
    transition: 800ms cubic-bezier(0.40, 0, 0.60, 1) all;
    display: block;
  }

  .animate.ng-enter {
    opacity: 0;
    overflow: hidden;
    height: 0;
  }

  .animate.ng-enter.ng-enter-active{
    opacity: 1;
    height: 180px;
  }

  .animate.ng-leave {
    opacity: 1;
    height: 180px;
    margin-bottom: 40px;

    overflow: hidden;
    z-index: 0;
  }

  .animate.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0px;
    margin-bottom: -20px;
    top: 0;
    z-index: -10;
  }
}