<div class="container">

  <div>
    <!--tweetDirective for tweet1-->
    <tweet-directive data="tweet" class="dualtweets" ng-hide="noTweet1"></tweet-directive>
    <!--tweetDirective for tweet2-->
    <tweet-directive data="tweet2" class="dualtweets" ng-hide="noTweet2"></tweet-directive>
  </div>

</div>