<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:ng="http://angularjs.org"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Interactive Twitterwall</title>
  <meta name="description" content="AngularJS Reference Architecture"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

  <!--[if lte IE 8]>
  <script src="scripts/libs/json2.js?v=<%= config.hash('./src/scripts/libs/json2.js') %>"></script>
  <script
          src="scripts/libs/html5shiv-printshiv.js?v=<%= config.hash('./src/scripts/libs/html5shiv-printshiv.js') %>"></script>
  <![endif]-->


  <link rel="stylesheet" href="css/bootstrap.min.css">

  <% if (config.environment === 'prod') { %>
  <link rel="stylesheet" href="styles/styles.min.css?v=<%= config.hash('./.temp/styles/styles.min.css') %>"/>
  <% } else { %>
  <link rel="stylesheet" href="styles/styles.css?v=<%= config.hash('./.temp/styles/styles.css') %>"/>
  <% } %>

  <!-- ClickJacking Defense begin (https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet) -->
  <style id="antiClickjack">
    body {
      display: none !important;
    }
  </style>

  <script>
    (function (win) {
      if (win.top === win.self) {
        var antiClickjack = win.document.getElementById('antiClickjack');

        antiClickjack.parentNode.removeChild(antiClickjack);
      } else {
        win.top.location = win.self.location;
      }
    }(window));
  </script>
  <!-- ClickJacking Defense end -->

  <style type="text/css">

    html,
    body {
      /* no scrollbars !1 */
      overflow: hidden;
    }

    /* Sticky footer styles
    -------------------------------------------------- */

    html,
    body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
    }

    /* Set the fixed height of the footer here */
    #push,
    #footer {
      height: 60px;
    }
    #footer {
      background-color: #f5f5f5;
    }

  </style>

</head>
<body ng-cloak class="ng-cloak">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand ueberschrift" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Twitterwall</a>

      <div class="nav-collapse collapse" ng-controller="menuBarController">
        <!--<ul class="nav nav-pills">-->
        <!--<li>-->
        <!--<a href="#/1">-->
        <!--1-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#/2">-->
        <!--2-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#/3">-->
        <!--3-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <span class="pull-right" ng-hide="isTwitterSignInVisible" class="user-profile">
          <a href="https://www.twitter.com/{{twitterUser.screen_name}}" target="_blank" class="btn-link"><img class="user-profile-avatar" src="{{twitterUser.profile_image_url_https}}" alt="Twitter avatar" title="{{twitterUser.name}}"></a>
        </span>
        <form class="navbar-form pull-right" action="/doTwitterSignIn" method="get" ng-show="isTwitterSignInVisible">
          <button class="btn btn-info" type="submit"><i class="icon-user"></i> Sign In with Twitter</button>
        </form>
        <form class="navbar-form pull-right" action="#" method="get" ng-hide="isTwitterSignInVisible">
          <span class="brand" style="padding: 10px 0 0 0">#</span>
          <input class="span2" type="text" placeholder="Hashtag" ng-model="searchValue" ng-submit="doTwitterSearch()">
          <button class="btn" ng-click="doTwitterSearch()"><i class="icon-search"></i></button>
        </form>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="wrap">
  <div class="container">
    <ng:view></ng:view>
  </div>
</div>

<div id="footer" style="height: 20px;">
  <div class="container">
    <p class="muted credit">
      <span class="pull-left">Sources: http://github.com/hypoport/twitterwall</span>
      <span class="pull-right">&copy;2015 Authors: Martin, Daniel, Erik, Oliver, Alexander, Timmo, Rene</span>
    </p>
  </div>
</div>

<!--<script type="text/javascript" src="TweetController.js"></script>-->

<% if (config.environment === 'prod') { %>
<script src="scripts/scripts.min.js?v=<%= config.hash('./.temp/scripts/scripts.min.js') %>"></script>
<% } else { %>
<script data-main="scripts/main.js"
        src="scripts/libs/require.js?v=<%= config.hash('./.temp/scripts/libs/require.js') %>"></script>
<% } %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48819454-5', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>